
#login-background-panel {
    -fx-background-image: url("background.jpg");
    -fx-background-size: cover; 
    -fx-background-position: center center;
}

#login-grid {
    -fx-background-color: rgba(0, 0, 0, 0.7); 
    
    -fx-background-radius: 10; 
    
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-width: 1;
    -fx-border-radius: 10;
    
    -fx-padding: 25;
    -fx-max-height: 300px;
    -fx-max-width: 500px; 
}
.label {
    -fx-font-family: "Zombies Brainless";
    -fx-text-fill: #CCCCCC; 
    -fx-font-size: 16px; 
}
#welcome-text {
    -fx-font-family: "Zombies Brainless"; 
    
    -fx-fill: #E8E8E8; 
    -fx-font-size: 28px; 
}
#root-title{
    -fx-font-family: "Zombies Brainless"; 
    -fx-fill: #E8E8E8; 
    -fx-font-size: 72px; 
    
    -fx-effect: dropshadow(gaussian, rgba(200, 0, 0, 0.7), 5, 0, 0, 2);
}
#root-subtitle{
	-fx-font-family: "Zombies Brainless"; 
    -fx-fill: #CCCCCC; 
    -fx-font-size: 20px; 
    -fx-effect: dropshadow(gaussian, rgba(200, 0, 0, 0.7), 5, 0, 0, 2);
}

.text-field, .password-field {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: #E8E8E8;
    -fx-border-color: #555555;
    -fx-border-width: 1;
    -fx-prompt-text-fill: #AAAAAA; 
}

.button {
    -fx-background-color: rgba(40, 40, 40, 0.8);
    -fx-text-fill: #E8E8E8;
    -fx-font-weight: bold;
    -fx-border-color: #888888;
    -fx-border-width: 1;
}

.button {
    -fx-font-family: "Zombies Brainless";
    -fx-background-color: rgba(40, 40, 40, 0.8);
    -fx-text-fill: #E8E8E8;
    -fx-font-size: 14px; 
    -fx-border-color: #888888;
    -fx-border-width: 1;
}

#action-target {
    -fx-fill: #FF4136; 
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 5, 0, 0, 1);
}